flows/TTS/TTS-Lab-Extension2.json
[{"id":"ba6b02ff.ca0198","type":"http in","name":"","url":"/tts/sayit","method":"get","swaggerDoc":"","x":74.19999694824219,"y":64.19999694824219,"z":"24bf0254.aa8b26","wires":[["2a9e55ac.2d474a"]]},{"id":"5c1ceeb9.5744b","type":"change","name":"text to payload","rules":[{"t":"set","p":"payload","to":"msg.payload.text_to_say"}],"action":"","property":"","from":"","to":"","reg":false,"x":266.20001220703125,"y":23.199996948242188,"z":"24bf0254.aa8b26","wires":[["e3510257.ea6e78"]]},{"id":"e3510257.ea6e78","type":"watson-text-to-speech","name":"","lang":"english","voice":"en-US_MichaelVoice","x":339.20001220703125,"y":77.19999694824219,"z":"24bf0254.aa8b26","wires":[["16f20e6f.d935c2"]]},{"id":"16f20e6f.d935c2","type":"change","name":"speech to payload","rules":[{"t":"set","p":"payload","to":"msg.speech"},{"t":"set","p":"headers","to":"[{ 'Content-Type', 'audio/wav'}, {'Content-Disposition', 'attachment; filename=text_to_say.Wav'}]"}],"action":"","property":"","from":"","to":"","reg":false,"x":430.20001220703125,"y":149.1999969482422,"z":"24bf0254.aa8b26","wires":[["9d08ab41.809e48"]]},{"id":"9d08ab41.809e48","type":"http response","name":"","x":576.2000122070312,"y":220.1999969482422,"z":"24bf0254.aa8b26","wires":[]},{"id":"2a9e55ac.2d474a","type":"switch","name":"Check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":153.1999969482422,"y":175.1999969482422,"z":"24bf0254.aa8b26","wires":[["5c1ceeb9.5744b"],["ce979848.183248"]]},{"id":"ce979848.183248","type":"template","name":"Error","field":"payload","format":"html","template":"<h1>Missing text_to_say query param!</h1>","x":353.20001220703125,"y":240.1999969482422,"z":"24bf0254.aa8b26","wires":[["9d08ab41.809e48"]]}]