basic_examples/language_identification/flow.txt
[
    {
        "id": "8db81c1f.3acc4",
        "type": "tab",
        "label": "PR basic examples"
    },
    {
        "id": "a3ff69f3.069ab",
        "type": "watson-language-translator-identify",
        "z": "8db81c1f.3acc4",
        "name": "",
        "x": 312.5,
        "y": 132,
        "wires": [
            [
                "47c20a9c.605fd4"
            ]
        ]
    },
    {
        "id": "4c0fe5ba.d503b4",
        "type": "inject",
        "z": "8db81c1f.3acc4",
        "name": "Inject some text",
        "topic": "",
        "payload": "Fammi vedere per rispondere in inglese",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 109.5,
        "y": 131,
        "wires": [
            [
                "a3ff69f3.069ab"
            ]
        ]
    },
    {
        "id": "47c20a9c.605fd4",
        "type": "debug",
        "z": "8db81c1f.3acc4",
        "name": "Identified Language",
        "active": true,
        "console": "false",
        "complete": "lang",
        "x": 533.5,
        "y": 131,
        "wires": []
    },
    {
        "id": "5cc51596.343044",
        "type": "comment",
        "z": "8db81c1f.3acc4",
        "name": "Language Identification",
        "info": "",
        "x": 131.5,
        "y": 90,
        "wires": []
    }
]